body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #7289DA, #5865F2);
    color: #fff;
    scroll-behavior: smooth;
    background-image: url('https://images.unsplash.com/photo-1524169220946-12efd782aab4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30px;
    height: auto;
    margin-left: 20px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7289DA;
}

section {
    padding: 4em 2em;
    text-align: center;
    margin: 1em;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
    background: rgba(49, 148, 154, 0.6);

    :root {
        --crsl-bg: transparent;
        --box-bg: #1e272e;
        --box-shadow: #0000001c;
        --box-shadow-border: #0000000f;
        --box-border: #fff;
      }
      
      html, body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: rgb(47,53,57);
        background: -moz-radial-gradient(circle, rgba(47,53,57,1) 0%, rgba(30,39,46,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(47,53,57,1) 0%, rgba(30,39,46,1) 100%);
        background: radial-gradient(circle, rgba(47,53,57,1) 0%, rgba(30,39,46,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539",endColorstr="#1e272e",GradientType=1);
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      .p {
        font-size: .95em;
        font-weight: bold;
        position: absolute;
        top: 7.5%;
        width: 100%;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        user-select: none;
      }
      
      .carousel {
        position: relative;
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
      
      .carousel__prev, .carousel__next {
        position: absolute;
        bottom: -15%;
        transition: transform 0.25s ease;
      }
      
      .carousel__prev i, .carousel__next i {
        font-size: 60px;
        color: var(--box-border);
        cursor: pointer;
      }
      
      .carousel__prev:hover, .carousel__next:hover {
        transform: scale(1.25);
      }
      
      .carousel__prev { left: 40%; }
      .carousel__next { right: 40%; }
      
      .carousel__body {
        width: 100%;
        padding: 20px 0 50px 0;
        overflow: hidden;
      }
      
      .carousel__slider {
        position: relative;
        transition: transform 1s ease-in-out;
        background: var(--crsl-bg);
      }
      
      .carousel__slider__item {
        position: relative;
        display: block;
        float: left;
        box-sizing: border-box;
        margin-left: 20px;
        margin-right: 20px;
      }
      
      .item__3d-frame {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;
        transform-style: preserve-3d;
      }
      
      .item__3d-frame:after {
        content: '';
        position: absolute;
        bottom: -15%;
        width: 100%;
        height: 40px;
        background: var(--box-shadow);
        box-shadow: 0px 0px 5px 5px var(--box-shadow);
        transform: rotateX(90deg) translate3d(0px, -20px, 0px);
        opacity: 0.85;
      }
      
      .item__3d-frame__box {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-width: 3px;
        border-style: solid;
      }
      
      .item__3d-frame__box--front img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
      
      .item__3d-frame__box h1 {
        font-size: 7em;
        width: 100%;
        color: var(--box-border);
      }
      
      .item__3d-frame__box--right, .item__3d-frame__box--left {
        top: 0;
        width: 40px;
        backface-visibility: hidden;
      }
      
      .item__3d-frame__box--left {
        left: 0;
        border-left-width: 5px;
        transform: translate3d(1px, 0, -40px) rotateY(-90deg);
        transform-origin: 0%;
      }
      
      .item__3d-frame__box--right {
        right: 0;
        border-right-width: 5px;
        transform: translate3d(-1px, 0, -40px) rotateY(90deg);
        transform-origin: 100%;
      }
      
      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Lato, sans-serif;
        margin: 0;
        padding: 1rem;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(20, 20, 20, 1);
      }
      
      img {
        width: 100%;
        display: block;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        transition: transform 1000ms;
      }
      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        max-width: 100%;
        width: 70rem;
      }
      
      figure {
        margin: 0;
        position: relative;
        overflow: hidden;
      }
      
      figure::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 200%;
        background: rgba(0, 0, 0, 0.5);
        transform-origin: center;
        opacity: 0;
        transform: scale(2);
        transition: opacity 300ms;
      }
      
      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        place-items: center;
        text-align: center;
        padding: 1rem;
        color: white;
        font-size: 1.2rem;
        z-index: 1;
        opacity: 0;
        transition: opacity 600ms, transform 600ms;
      }
      
      a:is(:hover, :focus) figure::after {
        opacity: 1;
      }
      
      a:is(:hover, :focus) figcaption {
        opacity: 1;
        transition: opacity 600ms;
      }
      
      @media (prefers-reduced-motion: no-preference) {
        figcaption {
          transform: translate3d(0, 2rem, 0);
        }
        
        figure::after {
          border-radius: 50%;
          opacity: 1;
          transform: scale(0);
          transition: transform 900ms;
        }
        
        a:is(:hover, :focus) figure::after {
          transform: scale(2.5);
        }
      
        a:is(:hover, :focus) figcaption {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: opacity 600ms 400ms, transform 600ms 400ms;
        }
      
        a:is(:hover, :focus) img {
          transform: scale(1.2);
        }
      }

      .video-container {
        width: 65%;
        max-width: 700px;
        margin: 0 auto;
        background: #34495e;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
    }
    
    .video-container:hover {
        transform: scale(1.05);
    }
    
    video {
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .video-container::before {
        content: 'A little Intro';
        display: block;
        text-align: center;
        font-size: 1.5em;
        padding: 20px 0;
        background: #3cd3e7;
        color: #fff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        letter-spacing: 1px;
    }


.container {
    justify-content: space-between;

}
.container-register{
  display: flex;
  justify-content: space-between;
}
.column {
    width: 45%;
}
.register-buttons {
    text-align: center;
    margin-top: 20px;
}

.register-buttons button {
    background-color: #7289DA;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.register-buttons button:hover {
    background-color: #5865F2;
    transform: scale(1.05);
}

.register-buttons button:active {
    transform: scale(0.95);
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socials li {
  margin: 0 10px;
}

.socials li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.socials li a:hover {
  color: #007bff;
}





@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
  nav {
      padding: 0.5em 0; 
      position: fixed; 
  }

  .logo {
    max-width: 60px; 
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: smaller;
  }

  nav ul li {
      margin: 0.5em 0; 
  }


  .video-placeholder {
      width: 100%;
      height: auto;
      aspect-ratio: 13 / 6; 
  }

  .container-register {
      flex-direction: column;
      gap: 1em;
  }

  .column {
      width: 100%; 
  }

  .register-buttons button {
      padding: 0.8em 1.5em;
      font-size: 0.8em; 
  }

  .socials li a {
      font-size: 14px; 
  }
}

@media (max-width: 412px) {
  body{
    width: full;
  }
  section{
    width: 412px;
  }
  nav {
      padding: 0.5em 0; 
  }

  .logo {
    max-width: 30px; 
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: smaller; 
  }


  .register-buttons {
      margin-top: 10px; 
  }

  .register-buttons button {
      padding: 0.6em 1.2em; 
      font-size: 0.7em; 
  }

  .li{
      font-size: 12px; 
      align-items: center;
}
}
}